<%= form_for @operation, url: {action: "answer"}, method: :post do |f| %>
  <div class="field">
    <%= @operation.firstOp %> <%= @operation.type %> <%= @operation.secondOp%>  = <%= text_field_tag 'result' %>
  </div>
  <%= f.hidden_field :id, :value => @operation.id %>
  <div class="actions">
      <%= f.submit "Enviar" %>
  </div>
  <% end %>
