<%= form_tag :action=>:answer do %>
  <div class="field">
    <%= @operation.firstOp %> <%= @operation.type %> <%= @operation.secondOp%>  = <%= text_field_tag(:result) %>
  </div>
  <div class="actions">
      <%= submit_tag "Enviar" %>
  </div>

  <% end %>