<h1>Listing operations</h1>

<%= link_to 'New Operation', new_operation_path %>

<table>
  <thead>
    <tr>
      <th>FirstOp</th>
      <th>Type</th>
      <th>SecondOp</th>
      <th>InitTime</th>
      <th>EndTime</th>
      <th>Responsetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.firstOp %></td>
        <td><%= operation.type %></td>
        <td><%= operation.secondOp %></td>
        <td><%= operation.initTime %></td>
        <td><%= operation.endTime %></td>
        <td><%= operation.responseTime %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
